<p>drctv works!</p>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th *ngIf="show">Phonenumber</th>
            <th *ngIf="show">BloodType</th>
        </tr>
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{age}}</td>
            <td *ngIf="show">{{phone}}</td>
            <td *ngIf="show">{{blood}}</td>
        </tr>
    </table><br>
    <button (click)="toggle()">{{show? 'Hide': 'show'}} Details</button>
</div>